# on top of all other aggregated manifests from sub packages add also:

include src/anomalib/version.info
include src/anomalib/py.typed
include requirements/base.txt
recursive-include requirements/data *.txt